@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-brand-primary: #10b981; /* Emerald 500 */
  --color-brand-bg: #0a0a0a;
  --color-brand-card: #171717;
}

@layer base {
  body {
    @apply bg-brand-bg text-gray-100 font-sans antialiased;
  }
}
